.container-fluid{
    text-align: center;
    color: blanchedalmond;
    background-color: black;
    font-family: "Pixel";
    margin-top: 30px;

}

.container{
    margin-top: 40px;    
    background-color: black;
}

.item img{
height: 200px;
margin-left: auto;
margin-right: auto;
background-color: black;
}

.carousel{
    margin-top: 10px;
    
}

.tittle{
    margin-top: 38px;
    font-size: 18px;
    background-color: black;
}


@font-face {
    font-family: Pixel;
    src: url("../../../assets/fonts/Pixel.ttf") format("opentype")
}