.container-fluid{
    margin-top: 10px;
    text-align: center;
    color: blanchedalmond;

    display: flex;
    align-items: center;
    
   
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row;
    
    font-family: "Pixel";

    font-size: 12px;
}


.container-fluid a{color: blanchedalmond;}

footer {
    min-height: 70px;
    background-color: #333333;
    border-top: 3px solid blanchedalmond;
    width: 100%;
   
    position: fixed;
    bottom: 0;             
  }


@font-face {
    font-family: Pixel;
    src: url("../../assets/fonts/Pixel.ttf") format("opentype")
}